h1{
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    background: linear-gradient(110deg,skyblue,lawngreen);
    width:100%;
    height: 15%;
    font-size: 50px;
    z-index: 9999;

}
a{background-color:black ;color:aqua;border-radius:10px 0 0 10px; border:2px solid red;}
.td{background-color: aqua;
color: red;
font-weight: bold;
font-style: italic;}
.pre{
    position: relative;
    bottom: -70px;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    background: linear-gradient(110deg,skyblue,pink);
    color: red;
}
table{
    width: 100%;
    padding: 50px 0;
}
button,input{
    background-color: black;
    color: aqua;
}

